# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated Visual Studio Files
msvc/2019/.vs
msvc/2019/x64*
msvc/2019/Win32*

# Generated Test Files
test/energies.txt
test/log.txt
test/parameters_misspell*
test/status.txt
test/test_log.txt

# Uncompressed example data files
user_manual/example_data/Dynamics_test_data/set*/*/
user_manual/example_data/Exciton_diffusion_test_data/set*/*/
user_manual/example_data/IQE_test_data/set*/*/
user_manual/example_data/Steady_transport_test_data/set*/*/
user_manual/example_data/ToF_test_data/set*/*/

# VSCode
.DS_Store
.vscode/settings.json

# Python Package Related
interface/build
interface/exm.egg-info
*.pyc

# Tutorials 
tutorials/data/*